<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.khuisf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NajvaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">

        <meta-data
            android:name="com.najva.sdk.metadata.API_KEY"
            android:value="d685cc67-5b85-4bff-8747-7c522026531e" />
        <meta-data
            android:name="com.najva.sdk.metadata.WEBSITE_ID"
            android:value="11989" />

        <activity
            android:name=".StartActivity"
            android:theme="@style/sss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".students.contact_teacher.ContactToTeacherActivity" />
        <activity
            android:name=".messgeainbox.InboxActivity"
            android:label="پیام ها" />
        <activity android:name=".teachers.messages.FinalSendMessageActivity" />
        <activity android:name=".teachers.messages.bycourses.SendMessageToStudentByCourseActivity" />
        <activity
            android:name=".students.watchattendance.ShowAttendanceActivity"
            android:label="حضور غیاب" />
        <activity android:name=".teachers.insertscore.InsertScoreActivity"
            android:theme="@style/sss"
            />
        <activity
            android:name=".teachers.attendancer.AttendancerActivity"
            android:theme="@style/sss" />
        <activity
            android:name=".CourseInfoActivity"
            android:label="@string/title_activity_course_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".ElipsisActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/persian_login_form" />

    </application>

</manifest>